[user]
	name = Hannu Lyytikainen
	email = hannu@sharetribe.com
[core]
	editor = vim
	excludesfile = /Users/hannu/.gitignore
[merge]
	tool = vimdiff
[color]
	ui = true
[alias]
[push]
	default = simple
[pull]
	rebase = true
